:root {
    --red: #fd5d5d;
    --green: #5FDA90;
    --darkgrey: #2D2D2D;
    --whitegrey: #e5e5e5;
    --half_of_screen: calc(100vh / 2);
}

/* ######################### GENERAL ###################### */
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fd5d5d;
}

#main-page {
    padding: 3em;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
}

/* #main-page.active {
    justify-content: flex-end;
} */

/* ######################### BUTTONS ###################### */
nav {
    display: grid;
    justify-content: center;
    gap: .5em;
    margin: 0 0 2em 0;
}

.btn-settings {
    background: none;
    color: var(--darkgrey);
    border: none;
    border-radius: 5px;
    margin: .5em;
    padding: .5em;
}

.btn-settings:hover {
    background: #484242;
    color: #e5e5e5;
}

.btn-settings {
    font-size: 17px;
}


/* ######################### POMODORO ###################### */
.pomodoro {
    grid-column-start: 2;
    grid-column-end: 4;
}

.pomodoro.active {
    grid-column-start: 3;
    grid-column-end: 5;
}


/* ######################### TIMERS ###################### */
#pomodoro:focus #short-break:focus #long-break:focus{
    background: var(--darkgrey);
    color: var(--whitegrey);
}
#pomodoro.active #short-break.active #long-break.active{
    background: var(--darkgrey);
    color: var(--whitegrey);
    border: none;
}
/* ######################### COUNTER ###################### */
.counter {
    display: grid;
    justify-content: center;
}

#pomo-timer {
    margin: 0 0 .2em 0;
    font-size: 10em;
    color: var(--darkgrey);
    justify-content: flex-end;
}

#btn-start-timer {
    background: var(--darkgrey);
    color: #e5e5e5;
    border: none;
    border-radius: 5px;
    padding: 0.8em 2em;
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    box-shadow: 0 9px #555;
}

#btn-start-timer.active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


/* ######################### SPOTIFY ###################### */
.spotify {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 2;
    width: 100%;
    height: 100%;
    background: var(--darkgrey);
    display: grid;
    justify-content: center;
    align-items: center;
}

#btn-spotify-login {
    background: var(--green);
    color: var(--darkgrey);
    border: none;
    border-radius: 5px;
    padding: 0.8em 1em;
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    /* box-shadow: 0 9px #555; */
}


/* ######################### TO-DO LIST SIDEBAR ###################### */
#todo-list-sidebar {
    width: calc(100vw / 2);
    height: 100%;
    position: absolute;
    left: calc((100vw / -2) + 70px); 
    top: 0px;
    background: #FF7A7A;
}

#todo-list-sidebar.active {
    left: 0;
}

#toggle-btn {
    border: none;
    position: absolute;
    top: 50%;
    left: calc((100vw / 2) - 55px);
}

#toggle-btn img {
    width: 80%;
}